:root {
  --gutters: #000000;
  --comment: #546a90;
  --linenumbers: #546a90;
  --border: #546a90;
  --background-primary: #161616;
  --background-secondary: #ff4a9860;
  --color-primary: #0afafa;
  --color-secondary: #42c6ff;
  --color-thirdly: #ff4a98;
  --color-fourtly: #ffce2e;
  --color-fiftly: #2eff85;
  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #ff0000;
  --warning: #ffed2b;
  --success: #00ff00;
  --icons: #fbf5f3;
  --progress: #42c6ff;
  --def: #3a8cc7;
  --atom: #ff57b9;
  --number: #ff4a98;
  --string: #ff4a98;
  --keyword: #7f83ff;
  --font-family: 'Hermit-Regular';
}

@font-face {
  font-family: 'Hermit-Regular';
  src: url(assets/fonts/Hermit-Regular.otf) format('opentype');
  font-display: swap;
}
#table-container {
  border: solid 1px var(--border);
  color: var(--icons);
  font-family: var(--font-family);
  display: none;
  overflow-y: scroll;
  max-height: 50vh;
}
#label-container {
  position: fixed;
  border: solid 1px var(--border);
  color: var(--icons);
  font-family: var(--font-family);
}
tr:first-child th {
  position: sticky;
  top: 0;
  box-shadow: 0px 10px 10px #42c6ff55;
  border-bottom: 1px solid #42c6ff;
  font-weight: 900;
}

th {
  color: var(--icons);
  background-color: #2d6791;
}
table {
  width: 100%;
  max-height: 300px;
}
th,
td {
  border-right: solid 1px var(--border);
  border-top: solid 1px var(--border);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 75%;
  text-align: center;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:hover {
  background-color: #7f83ff69;
  color: var(--color-fourtly);
}

body {
  background-color: var(--background-primary);
}
main {
  display: none;
}
.CodeMirror {
  width: 100%;
}

.success_line,
.error_line,
.info_line,
.warn_line {
  position: absolute;
  resize: vertical;
  width: 98%;
  z-index: 5;
  font-family: var(--font-family);
  font-style: normal;
  letter-spacing: -0.05em;
  background-color: var(--background-primary);
  /* visibility: hidden; */
  padding: 5px;
  padding-inline-start: 10px;
}

.error_line {
  /* border: var(--border-width) solid #ff275d; */
  color: #ff275d;
}
.info_line {
  border: var(--border-width) solid var(--comment);
  color: var(--color-primary);
}
#console {
  outline: none;
  border: none;
  height: 50px;
  width: 90vw;
  resize: none;
  position: absolute;
  /* pointer-events: none; */
  bottom: 0;
}
#command {
  top: 25%;
  left: 50%;
  outline: none;
  height: 50px;
  width: 5%;
  resize: none;
  border: solid 1px var(--border);
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

#command:focus {
  opacity: 1;
  left: 25%;

  width: 50%;
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#splash-screen {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: var(--background-primary);
  position: absolute;
  top: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  z-index: 2000;
}
#splash-logo {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes fadeInOpacity {
  0% {
    width: 15%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 15%;
  }
}
